@charset "utf-8";
@import "./_variables.scss";

.edit-list {
  width: 1000px;
  margin: 0 auto;
}

.edit-list-form {
  color: $gray;
}

.edit-list-title {
  width: 300px;
  margin-bottom: 25px;
}

.delete-list-button {
  @include button($red);
  border: solid 1px $red;
  margin: 25px 5px;
  background-color: initial;
}

.edit-list-button {
  @include button($white);
}

.error-message {
  color: $red;
}