@charset "utf-8";
@import "./_variables.scss";

.new-list {
  width: 1000px;
  margin: 0 auto;
}

.new-list-form {
  color: $gray;
}

.new-list-title {
  width: 300px;
  margin-bottom: 25px;
}

.new-list-button {
  @include button($white);
}
