@charset "utf-8";
@import "./_variables.scss";
.signin {
  width: 500px;
  margin: 0 auto;
}

.signin-form {
  margin: 25px 0;
}

.email-label,
.password-label {
  color: $gray;
}

.email-input,
.password-input {
  width: 100%;
  font-size: large;
  height: 30px;
  margin-bottom: 25px;
}

.signin-button {
  @include button($white);
  width: 80px;
}

.error-message {
  color: $red;
}
