@charset "utf-8";
@import "./_variables.scss";
.signup {
  width: 500px;
  margin: 0 auto;
}
.signup-form {
  margin: 25px 0;
  color: $gray;
}

.email-input,
.name-input,
.password-input {
  width: 100%;
  font-size: large;
  height: 30px;
  margin-bottom: 25px;
}

.signup-button {
  @include button($white);
  width: 100px;
}

.error-message {
  color: $red;
}
